.vacuna-form-fields {
  display: flex;
  flex-direction: row;
  gap: 12px;
  flex-wrap: wrap;
}

@media (max-width: 700px) {
  .vacuna-form-fields {
    flex-direction: column !important;
    gap: 10px;
    flex-wrap: nowrap;
  }
}
